.slideList {
    overflow: auto;
    border-right: 1px solid;
    padding-top: 10px;
}

.slideContainer {
    display: flex;

}

.item {
    margin: 10px;
    border-radius: 4px;
    border: 1px solid;
}

.slideNumber {
    font-size: 16px;
    padding: 0.5vw;
    margin: 1vw;
}
